/* GENERAL STYLINGS */
body{
    margin: 0px;
    padding: 0px;
    background-color:antiquewhite;

    /* i don't know much about fonts but internet says this is the safest font family. */
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(0, 0, 0, 0.897);

    /*this gradient is from
    https://projects.verou.me/css3patterns/#cross
    i wanted it sort of inverted color wise. */
    background:
    radial-gradient(circle, transparent 20%, rgb(255, 255, 255) 20%, rgb(255, 255, 255) 80%, transparent 80%, transparent),
    radial-gradient(circle, transparent 20%, rgb(255, 255, 255) 20%, rgb(255, 255, 255) 80%, transparent 80%, transparent) 50px 50px,
    linear-gradient(#a8b1bb52 8px, transparent 8px) 0 -4px,
    linear-gradient(90deg, #a8b1bb2d 8px, transparent 8px) -4px 0;
    background-color: rgba(255, 255, 255, 0.884);
    background-size:100px 100px, 100px 100px, 50px 50px, 50px 50px;
}
.container{
    margin: 0px;
    padding: 0px;

    grid-gap: 10px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto 20px;
}
button{
    text-transform: uppercase;
}
*{
    color: rgb(20, 20, 20);
    text-shadow: 1px 1px #ffffff7c;
}

/*
    align-items: center; 
    align-self: center;
    align-content: center;
    justify-items: center;
    justify-self: center;
    justify-content: center;
*/

/* HEADER SECTION */
header{
    grid-row: 1;
    background-color: rgb(34, 34, 34);

    position: fixed;
    width: 100%;

    z-index: 3;
}
nav{
    display: grid;
    grid-template-columns: 1fr 40px;
    grid-template-rows: 1fr;

    
    z-index: 3;
}
h1{
    grid-column: 1;
    grid-row: 1;
    padding-left: 24px;

    font-style: italic;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    
    align-self: center;

    color: rgba(255, 255, 255, 0.932);
    
}
ul{
    grid-column: 2;
    grid-row: 1;

    justify-content: end;
    align-content: center;

    padding: 0px 18px;
}
li{
    display: inline;
}
header * button{
    height: 50px;
    width: 100px;

    font-size: 30px;
    float:right;

    display: grid;
    grid-template-columns: 1fr 1fr;

    justify-items: center;
    align-items: center;

    border-radius: 50%;

    background-image: url('images/cartgif.gif');
    
    cursor: pointer;
}
header * button:hover{
    
    transition: all .05s ease-in-out;
    transform: scale(1.05);
}
header * button:active{
    transition: all .05s ease-in-out;
    transform: translateY(2px);
}
#hide_probably{
    display: none;
    /*i originally had a price total showing on the nav bar but am hiding it for now. might re-enable it*/
}
.image a {
    font-size: 28px;

}

/* MAIN SECTION */
main{
    display: grid;
    grid-row: 3;

    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;

    margin-top: 60px;
    margin-bottom: 20px;
    padding: 6px;
}
.image{
    display: grid;
    justify-content: center;
    align-content: center;

    margin: 20px; /*margin between each image*/
}
.image * {
    text-align: center;
    padding: 0px;
    margin: 0px;
}
.image img{
    margin-bottom: 14px;
    max-width: 100%;
}
.add_to_cart{
    margin: -83px 10px;
    background-color:rgba(0, 0, 0, 0.925);
    color: rgba(255, 255, 255, 0.904);

    transition: all .05s ease-in-out;
    opacity: 0;
    cursor: pointer;

    text-decoration: none;

    height: 40px;
    width: 160px;
    border-radius: 50%;

    text-align: center;

    z-index: 2;
}
.add_to_cart:active{
    transform: translateY(1px);
}
h3{
    z-index: 1;
}
.image:hover .add_to_cart{
    opacity: 1;
}
img:hover{
    transition: all .05s ease-in-out;
    transform: scale(1.20);

    background-color: rgba(170, 170, 170, 0.541);
    border-radius: 50%;

    z-index: 0;

}

/* SHOPPING CART OVERLAY */
aside {
    grid-row: 2;
    
    display: flex;
    justify-content: center;

    z-index: 3;
    
}
.dropdown{
    top: 100px;
    position: fixed;
    z-index: 3;
    
}
.overlay_container{
    display: grid;
    grid-template-rows: auto auto auto auto;
    grid-template-columns: 1fr 1fr;

    justify-items: end;
    
    max-height: 520px;
    width: 325px;
    overflow-y: auto;

    background-image: url('images/cartgif.gif');

    border: 2px double rgba(0, 0, 0, 0.842);
    border-radius: 2%;

    padding:6px;
    
    z-index: 3;
    
}
#close_btn{
    grid-row: 1;
    grid-column: 2;

    background-color: darkred;

    color: rgba(255, 255, 255, 0.842);
    font-weight: 700;
    font-size: 16px;

    height: 32px;
    width: 32px;

    border-radius: 10%;

    z-index: 3;
    cursor: pointer;
    
}
.table{
    grid-row: 2;
    grid-column: 1 / span 4;

    width: 310px;
}
table, th, td, caption {
    font-size: 20px;
    text-align: center;
    font-weight: 700;

    z-index: 4;
}
td button{
    height: 32px;
    width: 32px;

    display: grid;
    align-items: center;
    justify-items: center; 

    font-size: 16px;
    font-weight: 700;

    background-color:rgba(211, 211, 211, 0.829);

    cursor: pointer;
    border-radius: 10%;
}
.removeth{
    width: 45px;
}
.xth{
    width: 150px;
    border-bottom: 3px solid black;
}
.priceth{
    border-bottom: 3px solid black;
}
#clear_cart{
    grid-row: 4;
    grid-column: 1;

    align-self: center;
    justify-self: start;


    height: 50px;
    width: 100px;
    
    font-weight: 700;

    background-color:rgba(211, 211, 211, 0.829);

    cursor: pointer;
    border-radius: 10%;

}
#price_total_checkout{
    grid-row: 3;
    grid-column: 2;

    align-items: center;
    float: right;
    margin-right: 1px;

    font-size: 24px;
    font-weight: 700;

    border-top: 3px solid black;
}
#purchase_button{
    grid-row: 4;
    grid-column: 2;


    height: 50px;
    width: 100px;
    
    font-weight: 700;

    background-color:rgba(211, 211, 211, 0.829);

    cursor: pointer;
    border-radius: 10%;
}
#empty_span{
    background-color: darkgreen;
    grid-row: 4;
    grid-column: 1;
}
.overlay_container button:active{
    transition: all .05s ease-in-out;
    transform: translateY(1px);
}

/* FOOTER SECTION */
footer{
    display: grid;
    grid-row: 4;

    background-color: rgba(85, 85, 85, 0.178);

    text-align: center;

    border-top: double 2px rgba(0, 0, 0, 0.767);
    border-radius: 2px;
}


/* RESPONSIVE DESIGNS */
/* ipad size */
@media screen and (max-width: 1025px) {
    main {
        display: grid;
        grid-row: 3;

        grid-template-columns: 1fr 1fr;

        margin-top: 60px;
        margin-bottom: 20px;
        padding: 6px;
    }
    h1{
        grid-column: 1;
        grid-row: 1;
        padding-left: 12px;

        font-style: italic;
        font-size: 28px;
        font-weight: 700;
        text-transform: uppercase;

        color: rgba(255, 255, 255, 0.932);

        align-self: center;
    }
    header * button{
        height: 50px;
        width: 100px;
    
        font-size: 30px;
        float:right;
    
        display: grid;
        grid-template-columns: 1fr 1fr;
    
        justify-items: center;
        align-items: center;
    
        border-radius: 50%;
    
        background-image: none;
        
        cursor: pointer;
    }
    .add_to_cart{
        margin: -84px 50px;
        background-color:rgba(0, 0, 0, 0.699);
        color: rgba(255, 255, 255, 0.904);
    
        transition: all .05s ease-in-out;
        opacity: 1;
        cursor: pointer;
    
        text-decoration: none;
    
        height: 20px;
        width: 80px;
        border-radius: 50%;
    
        text-align: center;
    
        z-index: 2;
    }
    .image a{
        font-size: 12px;
    }
}

/*mobile phone size*/
@media screen and (max-width: 415px) {
    main {
        display: grid;
        grid-row: 3;

        grid-template-columns: 1fr;

        margin-top: 60px;
        margin-bottom: 20px;
        padding: 6px;
    }
    h1{
        grid-column: 1;
        grid-row: 1;
        padding-left: 6px;

        font-style: italic;
        font-size: 16px;
        font-weight: 700;
        text-transform: uppercase;

        color: rgba(255, 255, 255, 0.932);

        align-self: center;
    }
    header * button{
        height: 30px;
        width: 60px;
    
        font-size: 22px;
        float:right;
    
        display: grid;
        grid-template-columns: 1fr 1fr;
    
        justify-items: center;
        align-items: center;
    
        border-radius: 50%;
    
        background-image: none;
        
        cursor: pointer;
    }
    .overlay_container{
        display: grid;
        grid-template-rows: auto auto auto auto;
        grid-template-columns: 1fr 1fr;
    
        justify-items: end;
        
        max-height: 520px;
        width: 325px;
        overflow-y: auto;
    
        border: 2px double rgba(0, 0, 0, 0.842);
        border-radius: 2%;
    
        padding:6px;
        
        z-index: 3;
        
    }
    .add_to_cart{
        margin: -84px 50px;
        background-color:rgba(0, 0, 0, 0.699);
        color: rgba(255, 255, 255, 0.904);
    
        transition: all .05s ease-in-out;
        opacity: 1;
        cursor: pointer;
    
        text-decoration: none;
    
        height: 20px;
        width: 80px;
        border-radius: 50%;
    
        text-align: center;
    
        z-index: 2;
    }
    .image a{
        font-size: 12px;
    }
}
